html {
  font-family: "Lucida Grande", sans-serif;
}

div{
  min-height: 150px;
  padding: 25px;

}
img {
  display: : block;
  margin-left: auto;
  margin-right: auto;
  width: 525px;
  height: 100%;
}

#red {
  background-color: #FF0000;
  text-align: right;
}

#blue{
  background-color: #0000FF;
  text-align: left;
}

#yellow{
  background-color: #FFFF00;
  text-align: right;
}

#green{
  background-color: #008000;
  text-align: left;
}
